.title {
    color: rgb(114, 114, 114);
    padding-bottom: 20px;
    text-align: center;
}
.werkers {
  padding: 2px 16px;
  background: #494747;
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #fff;
}
.werkers:hover {
  border-left: 8px solid blue;
}