@use '../pages/employee/styles.scss';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&family=Roboto:wght@300;400;500;700&display=swap');

body {
  background: #3a2a2a;
  color: #333;
  font-family: "Roboto";
}
a {
  color: rgb(199, 199, 199);
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid rgb(167, 167, 167);
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: rgb(92, 221, 178);
  border-top: 1px solid #eaeaea;
}
footer p {
  color: inherit;
}
footer a {
  color: aquamarine;
  margin-left: 12px;

}
.not-found {
  text-align: center;
}
.not-found a {
  color: inherit;
  text-decoration: inherit;
}
